@import "../../components/App/_vars.scss";

.s {
  width: 100%;
  height: 100vh;
  background-color: $background;
}

.s-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 31px 313px 45px 313px;
}